<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form action="/thanks" method="post">
    <h2>Adoptee Form</h2>
  <b>  First Name: </b> <input type="text" name="firstName"> <br> <br>
  <b>  Last Name: </b> <input type="text" name="lastName"> <br> <br>
  <b>  Email: </b> <input type="text" name="email"> <br> <br>
  <b>  Birthday (mm/dd/yyyy): </b> <input type="text" name="birthday"> <br> <br>
  <b>  Sex at Birth: </b> <br>
&emsp;  <input type="radio" name="sex"> Male <br>
&emsp;  <input type="radio" name="sex"> Female <br>
&emsp;  <input type="radio" name="sex"> Else <br>
  <b>  Race: </b> <br>
&emsp;  <input type="radio" name="race"> White/White Latinx <br>
&emsp;  <input type="radio" name="race"> Black <br>
&emsp;  <input type="radio" name="race"> Indiginous American/Alaskan Native <br>
&emsp;  <input type="radio" name="race"> Asian <br>
&emsp;  <input type="radio" name="race"> Multiracial <br>
&emsp;  <input type="radio" name="race"> Else <br>
<h3>Where were you adopted from?</h3>
  &emsp; <b>  Country: </b> <input type="text" name="country"> <br> <br>
  &emsp; <b>  City: </b> <input type="text" name="city"> <br> <br>
      <input type="submit" value="Submit">


  </form>
  </body>
</html>
